<h1>Your Courses</h1>

<p class="tab" id="notice"><%= notice %></p>

<div class="list-group">
  <% @courses.each do |course| %>
      <%= link_to course, class: "list-group-item" do %>
          <%= course.title %> <span class="badge"><%= course.posts.count %></span>
      <% end %>
  <% end %>
</div>