<!DOCTYPE html>
<html>
<head>
  <title>NKU-Net</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap CDN References -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>

  <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
  <!--  <div class="container-fluid">-->
  <!--    <div class="navbar-header">-->
  <!--      <a class="navbar-brand" href="#">NKU-Net</a>-->
  <!--    </div>-->
  <!--    <ul class="nav navbar-nav">-->
  <!--      <li class="active"><a href="#">Post Feed</a></li>-->
  <!--      <li><a href="#">Profile</a></li>-->
  <!--      <li><a href="#">Logout</a></li>-->
  <!--    </ul>-->
  <!--  </div>-->
  <!--</nav>-->
  
  <!-- This JUMBOTRON will serve as the header of the page. -->
  <div class="jumbotron" style="margin: 0px;" id="header">
  	<div class="container">
  		<h1>NKU-Net</h1>
  		<p>This is NKU-Net. Navigate this site to ask NKU students and faculty members any question regarding the Norse Nation.</p>
  	</div>
  </div>


  <%= yield %>



  <!-- Footer that will have contact information. -->
  <nav class="navbar navbar-default navbar-bottom" role="navigation" id="footer">
  	<div class="container">
  		<table class="table" style="margin: 0px; padding: 0px;">
  			<tr>
  				<td>
  					<img src="http://brand.nku.edu/images/logo3.jpg" style="width: 300px;"/>
  				</td>
  				<!--<td style="text-align: left; vertical-align: middle;">-->
  				<!--	Northern Kentucky University<br />-->
  				<!--	Nunn Drive | Highland Heights, Kentucky 41099<br />-->
  				<!--	<br />-->
  				<!--	Phone: (859) 572-5100-->
  				<!--	<br />-->
  				<!--	&copy; 2017 Northern Kentucky University. All rights reserved.-->
  				<!--</td>-->
  			</tr>
  		</table>
  	</div>
  </nav>

</body>
</html>
