/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**
 * \\\\\\\\\\\     \\\\\\    \\      \\  \\\\\\\\\\\
 * \\            \\     \\   \\\     \\       \\
 * \\           \\       \\  \\\\    \\       \\
 * \\           \\       \\  \\ \\   \\       \\
 * \\\\\\\\     \\       \\  \\  \\  \\       \\
 * \\           \\       \\  \\   \\ \\       \\
 * \\           \\       \\  \\    \\\\       \\
 * \\            \\     \\   \\     \\\       \\
 * \\              \\\\\\    \\      \\       \\
 */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif'); /* font-family: 'Droid Serif', serif; */

#profile-pic {
    size: 200px 200px;
    background-image: url("helmet.png");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', serif;
}

/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
  top: 0;
  width: 100%;
  z-index: 10;
}

.affix + .container-fluid {
  padding-top: 0px;
}

a {
    color: inherit;
    background-color: inherit;
}

.nav .affix {
    width: 100%;
}

/*.nav-wrapper {*/
/*    min-height: 60px;*/
/*}*/

#header {
	background-image: url("campus-bg.jpg");
	background-size: cover;
	background-position: 50% 50%;
	height: 300px;
	color: white;
}

#navbar {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	margin-bottom: 0;
}

#footer {
	/*background-color: #FDC73C;*/
	/*border-color: #FDC73C; GOLD COLOR*/
	text-align: center;
	width: 100%;
	
	position: absolute;
    clear:both;
    padding-bottom: 10px;
    /*padding-top:20px;*/
}

/*.breadcrumb li {*/
/*	background-color: #FDC73C;*/
/*}*/

/*.breadcrumb li a:hover {*/
/*	background-color: #FDC73C;*/
/*}*/

.breadcrumb {
	background-color: rgba(253, 199, 60, 1);
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 0px; 
	display: block;
}
.breadcrumb li {
	font-size: 14px;
}
.breadcrumb a {
	color: rgba(66, 139, 202, 1);
}
.breadcrumb a:hover {
	color: rgba(42, 100, 150, 1);
}
.breadcrumb>.active {
	color: rgba(87, 82, 82, 1);
}
.breadcrumb>li+li:before {
	color: rgba(204, 204, 204, 1); content: "\002F\00a0";
}
.breadcrumb-item:hover {
	background-color: #F5F5F5;
}