// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
	background-image: url("campus-bg.jpg");
	background-size: cover;
	background-position: 50% 50%;
	color: white;
}

#navbar {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}

#footer {
	background-color: #FDC73C;
	border-color: #FDC73C;
	background-image: none;
	color: white;
	text-align: center;
	margin: 0px;
}

#add-button {
	position: fixed;
	left: 10px; 
	bottom: 10px; 
	width: 75px;
	border: 0;
	z-index: 2;
	
	/* Drop Shadow Effect */
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 2px 5px #222);
}

#page-flip {
    text-align: center;
}

.tab {
    margin-left: 15px;
}

#profile-pic {
    size: 200px 200px;
}